<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="1">
    <test verbose="2" preserve-order="true" name="Invalid Credentials">
        <classes>
            <class name="org.example.InvalidCredentials">
                <methods>
                    <include name="emptyCredentials"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="LoginTest">
        <classes>
            <class name="org.example.UITest">
                <methods>
                    <include name="loginTest"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="createPlayListTest">
        <classes>
            <class name="org.example.UITest">
                <methods>
                    <include name="createPlayList"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="EditPayListDetails">
        <classes>
            <class name="org.example.UITest">
                <methods>
                    <include name="EditPayListDetails"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="SearchSong">
        <classes>
            <class name="org.example.UITest">
                <methods>
                    <include name="SearchSong"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="AddSongToPlayList">
        <classes>
            <class name="org.example.UITest">
                <methods>
                    <include name="AddSongToPlayList"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="PlaySong">
        <classes>
            <class name="org.example.UITest">
                <methods>
                    <include name="PlaySong"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="PauseSong">
        <classes>
            <class name="org.example.UITest">
                <methods>
                    <include name="PauseSong"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="RemoveSong">
        <classes>
            <class name="org.example.UITest">
                <methods>
                    <include name="RemoveSong"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="DeletePlayList">
        <classes>
            <class name="org.example.UITest">
                <methods>
                    <include name="DeletePlayList"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="AllFuncitionality">
    <classes>
        <class name="org.example.UITest">
            <methods>
                <include name="FullTest"/>
            </methods>
        </class>
    </classes>
</test>

</suite>